extends layout



block content

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 

  script(type='text/javascript' src='/javascripts/indexFront.js' defer='defer')

  
  <nav>
    <div class="nav-wrapper">
      <a href="" class="brand-logo"> ProjectOverFlow</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/user/login">Login</a></li>
        <li><a href="/user/register">Register</a></li>
        <li><a href="/user/logout">Logout</a></li>
        <li><a href="/post">Ask a question...</a></li>
      </ul>
    </div>
  </nav>

  <div class="container" id="host-container">
    <div class="section">
      <h3 class="light-blue-text">Example post title</h3>
      <h5 class="">Example post text/question/whatever</h5>
      <p class="light">Example comment that states that the question is a duplicate from 13 years ago.</p>
    </div>
  </div>




