extends layout



block content

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 

    script(type='text/javascript' src='/javascripts/postFront.js' defer='defer')

    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"> ProjectOverFlow</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">

                if !user
                    <li><a href="/user/login">Login</a></li>
                    <li><a href="/user/register">Register</a></li>
                else
                    <li><a href="/user/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
  
    if user
        div(class="container")
            h5 Question title
            input(type="text", id="name-text")
            h4 Type your question here
            textarea(id="question-text")
            button(id="submit", type="submit", class="btn") Submit





