extends layout

block content
  h1(id="recipe-name") #{name}
  script(type='text/javascript' src='/javascripts/show_recipes.js' defer='defer')

  <br />
  p

  ul(id="instructions-list")

  ul(id="ingredients-list")
