extends layout 

block content

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 

    script(type='text/javascript' src='/javascripts/registerFront.js' defer='defer')

    h1 Register
    //form(action="register" method="POST")
    label(for="email") email
        input(type="text" name="email" id="email" required)
        label(for="password") Password
        input(type="text" name="password" id="password" required)
        button(class="btn" type="submit" id="submit") Register